<div class="row">
  <div class="col">
    <input
      #name
      type="text"
      (keyup.enter)="getArtist(name.value)"
      class="form-control"
      placeholder="Enter artist..."
    />
  </div>
</div>

<div class="card-columns m-5 animated fadeIn">
  <div
    (click)="getTopTracks(item.id)"
    *ngFor="let item of artists"
    class="card puntero"
  >
    <img
      class="card-img-top"
      [src]="item.images | noimage"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <span
          *ngFor="let artista of item.artists"
          class="badge badge-pill badge-primary"
        >
          {{ artista.name }}
        </span>
      </p>
    </div>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Ảnh</th>
          <th>Ten album</th>
          <th>Tên bài hát</th>
          <th>Nghe thử</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img [src]="track.album.images | noimage" class="img-thumb" />
          </td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td *ngIf="checkPreview_url">
            <audio controls #figAudio>
              <source [src]="track.preview_url" type="audio/ogg" />
              <source [src]="track.preview_url" type="audio/mpeg" />
              <source [src]="track.preview_url" type="audio/wav" />
            </audio>
          </td>
          <td *ngIf="!checkPreview_url">Không có bản nghe thử</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
