<div class="container">
  <div class="row">
    <div class="col">
      <input
        #search
        type="text"
        (keyup.enter)="getYoutube(search.value)"
        placeholder="Search YouTube"
        class="form-control"
      />
    </div>
  </div>
</div>

<div>
  <div></div>
  <div></div>  
</div>
<div class="card-columns m-5 animated fadeIn">
  <div
    *ngFor="let video of videos.items | paginate: { itemsPerPage: 5, currentPage: p }"
    (click)="previewVideo(video.id['videoId'], video.snippet.title)"
    class="card puntero"
  >
    <img
      class="card-img-top"
      [src]="video.snippet.thumbnails.high.url"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ video.snippet.title }}</h5>
      <p class="card-text">
        <span class="badge badge-pill badge-primary">
          {{ video.snippet.channelTitle }}
        </span>
      </p>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div *ngIf="urlPreviewVideo != null">
    <iframe [src]="urlPreviewVideo" width="960" height="447" frameborder="0" allowfullscreen></iframe>
</div>